<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <title>Image Stitching</title>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-2.2.2.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-filestyle.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='jquery-filestyle.css') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-theme.css') }}" >

    <style type="text/css" media="all">
    </style>

  </head>

  <body>
    <div class="row">
      <div class="col-xs-12">
        <h1> Image Panorama Stitching</h1>
        <h2> A simple way to make panoramas</h2>
      </div>
    </div>
    <form class="form" action="" method="post" enctype="multipart/form-data">
      <h3>First Image</h3>
      <input type="file" class="jfilestyle" data-theme="blue" id="01" name="01">

      <h3>Second Image</h3>
      <input type="file" class="jfilestyle" data-theme="blue" id="02" name="02">

      <h3>Third Image</h3>
      <input type="file" class="jfilestyle" data-theme="blue" id="03" name="03">

      <br>
      <input type="submit" name="" id="" value="Submit" />
    </form>

  </body>
</html>
